.contact {
                       
    .contact__content {
            .contact__item1{
                transition: all .5s;
                transform: translateX(-100%);
                width: 55%;
                position: fixed;
                left: 0;
                top: 0;
                z-index: 1000000000000;
                padding: 15px;
                height: 100%;
                background-color: rgba(46, 33, 33, 0.512);
                color: $color-black;
            }
            .contact__item2 {
                opacity: 0;
                transition: all .5s;
                transform: translateX(100%);
                // border: 3px solid black;
                width: 45%;
                position: fixed;
                right: 0;
                top: 0;
                z-index: 99999;
                padding: 15px;
                height: 100%;
                background-color: $color-white;
                color: $color-black;
                // transform: translateX(100%);
                .item__top {
                    .col-cus {
                        p {
                            font-size: 20px;
                            font-weight: 700;
                            letter-spacing: -1px;
                        }
                    }

                    .row {
                        .col-3 {
                            text-align: right;
                            font-size: 30px;
                        }
                    }

                    .item__form {
                       p{
                           font-size: 20px;
                           a{
                               font-weight: bold;
                               font-size: 23px;
                           }
                       }
                    }
                }

                .item__bot {
                    .row-cus {
                        p {
                            padding-left: 15px;
                            font-size: 20px;
                            font-weight: 700;
                            letter-spacing: -1px;
                            line-height: 23px;
                        }
                    }

                    .bottom__content {
                        font-size: 15px;
                        line-height: 19px;
                        font-weight: 500;

                        .col-10 {
                            padding: 0;

                            p {
                                &:first-child {
                                    margin: 0;
                                    font-weight: 700;
                                }

                                &:nth-child(2) {
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
            }
        }
    
}

@include responsive("extra"){
    .contact{
        .contact__content{
            .contact__item2{
                .item__bot{
                    .bottom__content{
                        font-size: 13px;
                        line-height: 17px;
                    }
                }
                .item__top{
                    .col-cus{
                        p{
                            margin-bottom: 0;
                        }
                    }
                    .item__form{
                        form{
                            .row{
                                .col-12{
                                    input{
                                        height: 40px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@include responsive("902"){
    .contact{
        .contact__content{
            .contact__item2{
                width: 100%;
                .item__bot{
                    .bottom__content{
                        font-size: 13px;
                        line-height: 17px;
                    }
                }
                .item__top{
                    .col-cus{
                        p{
                            margin-bottom: 0;
                        }
                    }
                    .item__form{
                        form{
                            .row{
                                .col-12{
                                    input{
                                        height: 40px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include responsive("320"){
    .contact{
        .contact__content{
            .contact__item2{
                width: 100%;
                padding: 5px;
                .item__bot{
                    .bottom__content{
                        font-size: 13px;
                        line-height: 17px;
                        .row{
                            .col-12{
                                .item{
                                    .row{
                                        margin: 0;
                                        .col-10{
                                            p{
                                                &:nth-child(2){
                                                    margin-bottom: 3px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .row-cus{
                        p{
                            font-size: 14px;
                            br{
                                display: none;
                            }
                        }
                    }
                }
                .item__top{
                    .col-cus{
                        p{
                            margin-bottom: 0;
                        }
                    }
                    .item__form{
                        form{
                            .row{
                                .col-12{
                                    input{
                                        height: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
                hr{
                    display: none;
                }
            }
        }
    }
}