.impact {
    background-image: url(../../img/kinhdoanh.jpg);
    background-position: center;
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: cover;
    
    background-color: $color-gray;
    padding: 35px 15px;
    .impact__content {
        width: 95%;
        margin: 0 auto;
        .row-cus{
            width: 83%;
            margin: 0 auto;
        }
        .card__button{
            
            text-align: center;
            button{
                transition: all .5s;
                &:hover{
                    background-color: $color-brown;
                    color: $color-white;
                }
                padding: 10px 40px;
                background-color: $color-white;
                border-radius: 5px;
                border: 1px solid;
            }
        }
        .item {
            background-color: rgba(255, 255, 255, 0.9);
            border: 3px solid $color-blue-1;
            border-radius: 5px;
            position: relative;
            height: 100%;
            .p-cus {
                font-weight: 400;
            }
            .impact__line {
                border-bottom: 3px solid $color-blue-1;
                display: block;
                width: 100%;
                margin-bottom: 15px;
                margin-left: 0;
            }
            padding: 10px;
            p {
                margin-bottom: 8px;
                i{
                    width: 50px;
                    height: 50px;
                    background-color: $color-blue-1;
                    color: $color-white;
                    line-height: 50px;
                    border-radius: 50%;
                    text-align: center;
                }
                &:first-child {
                    font-size: 25px;
                    font-weight: 700;
                }
            }
            a {
                font-weight: 400;
                position: absolute;
                bottom: 10px;
                left: 10px;
                color: $color-blue-1;
            }
        }
        .item2 {
            a {
                
            }
            .impact__line {
                border-bottom: 3px solid $color-blue-1;
                display: block;
               
                margin-bottom: 15px;
                margin-left: 0;
            }
        }
        .item3 {
            .impact__line {
                border-bottom: 3px solid $color-blue-1;
                display: block;
                
                margin-bottom: 15px;
                margin-left: 0;
            }
        }
    }
}
@include responsive('1085'){
    .impact{
        .impact__content{
            .row-cus{
                width: 97%;
            }
        }
    }
}
@include responsive('large'){
    .impact{
        .impact__content{
            .item{
                a{
                    bottom: -1px;
                }
            }
        }
    }
}
@include responsive('320'){
    .impact{
        .impact__content{
            .card__button{
                margin-top: 0;
                button{
                    padding: 2px 20px;
                }

            }
            .item{
                .p-m{
                    font-size: 20px;
                }
                .p-cus{
                    font-size: 17px;
                }
            }
        }
    }
}