.info {
    
 
    padding: 70px 0;
    background-image: url(../../img/logoxin.jpg);
    background-position: 50% 50%;
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: contain;
    .info__content {
       
        
        .info__text {
            font-weight: 600;
            width: 70%;
            margin: 0 auto;
            background-color: rgba(255, 255, 255, 0.9);
            border: 3px solid $color-blue-1;
            padding: 20px;
            .p-top {
                font-weight: 700;
                text-align: center;
                font-size: 35px;
                line-height: 50px;
                text-shadow: 2px 2px 2px gray;
            }

            .p-bottom {
                display: flex;
                justify-content: flex-end;
                
                .p-bot {
                    width: 34%;
                    font-style: italic;
                    font-weight: 700;
                    font-size: 17px;
                }
            }
            .p-mid{
                text-align: justify;
                
            }
        }
    }
}
@include responsive("extra-large"){
    .info{
        .info__content{
            .info__text{
                .p-bottom{
                    .p-bot{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
@include responsive("large-cus"){
    .info{
        .info__content{
            .info__text{
                font-size: 15px;
                width: 90%;
                .p-top{
                    font-size: 30px;
                }
            }
        }
    }
}
@include responsive("902"){
    .info{
        .info__content{
            .info__text{
                font-size: 13px;
                .p-top{
                    font-size: 22px;
                }
                .p-bottom{
                    .p-bot{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
@include responsive("660"){
    .info{
        .info__content{
            .info__text{
                font-size: 13px;
                .p-top{
                    font-size: 22px;
                }
                .p-bottom{
                    .p-bot{
                        width: 46%;
                        font-size: 11px;
                    }
                }
            }
        }
    }
}
@include responsive("320"){
    .info{
        .info__content{
            .info__text{
                line-height: 19px;
                width: 100%;
                font-size: 13px;
                .p-top{
                    font-size: 15px;
                    margin-bottom: 0;
                }
                .p-bottom{
                    .p-bot{
                        width: 79%;
                        font-size: 11px;
                        line-height: 12px;
                    }
                }
            }
        }
    }
}
