.line{
    margin: 10px auto;
    .row{
        align-items: center;
    }
    .hr{
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid $color-gray-1; 
    }
    .text{
        font-weight: 700;
        text-align: center;
        font-size: 35px;
        line-height: 37px;
        text-shadow: 2px 2px 2px gray;
        h2{
            font-weight: 700;
        text-align: center;
        font-size: 35px;
        line-height: 37px;
        text-shadow: 2px 2px 2px gray; 
        }
    }
}
.line-custom{
    .row{
        .line__caption{
            width: 90%!important;
        }
    }
}

@include responsive('medium'){
    .line{
        .text{
            h2{
                font-size: 25px;
            }
        }
        margin: 20px auto;
        .line-cus{
            display: none;
        }
    }
}
@include responsive('320'){
    .line{
        .text{
            h2{
                font-size: 22px;
            }
        }
    }
    .line-custom{
        padding: 0;
        .text{
            font-size: 22px;
        }
        .row{
            margin: 0;
            .line__caption{
                width: 90%!important;
                p{
                    font-size: 12px!important;
                }
            }
        }
    }
}